.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 120px;
    width: 180px;
}

.auth {
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #402D17;
    color: #FFB65B;
    padding: 20px;
    float: right;
}

.auth a{
    color: #FFB65B ;
    text-decoration: none;
}

.rewiev-form{
    float:center;
}

.rewiev-form a{
    color: #FFB65B ;
    padding: 25px;
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #402D17;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
}

.rewiev-form a:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.name{
    margin-left: 10px;
    text-align: center;
    color:#805B2E;
}

body {
    background-color: #FFB65B;
}

.menu-navigation {
    text-align: center;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.menu-navigation nav {
    display: flex;
    justify-content: space-evenly;
}
.menu-navigation a {
    text-decoration: none;
    padding: 10px 20px; 
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #402D17;
    color: #FFB65B;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
}

.menu-navigation a:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.main-menu {
    display: flex;
    justify-content: space-evenly;
}

.afisha {
    flex-basis: 100%;
    text-align: center;
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #BF8845;
    margin: 0 60px 0px 80px;
}

.right-bar{
    flex-direction: column;
    flex-basis: 200px;
    margin-right: 30px;
}

.genres{
    width: 100%;
    text-align: center;
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #BF8845;
    margin-bottom: 15px;
    padding: 10px;
}

.extra-params{
    width: 100%;
    height: 40%;
    text-align: center;
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #BF8845;
    padding: 10px;
}

.left-bar{
    flex-direction: column;
    flex-basis: 200px;
    margin-left: 20px;
}

.premiers {
    background-color: #BF8845;
    border: 1px solid #999; 
    border-radius: 10px; 
    text-align: center;
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    padding: 10px;
}

.towatchlist {
    width: 100%;
    height: 35%;
    text-align: center;
    border: 1px solid #999; 
    border-radius: 10px; 
    background-color: #BF8845;
    padding: 10px;
}

.bottom-bar {
    background-color: #402D17;
    color: #FFB65B;
    text-align: center;
    padding: 1px; 
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 120px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bottom-bar a {
    color: #FFB65B; 
    text-decoration: none; 
    margin: 0 10px;
}

.bottom-bar img.statham {
    max-height: 100%;
    width: 200px;
    float: left;
}
.bottom-bar img.rock {
    max-height: 100%;
    width: 200px;
    float: right;
}

@media (max-width: 800px){
    .logo{
        display: flex;
        justify-content:space-around;
    }

    .logo img{
        height: 80px;
        width: 60px;
    }

    .rewiev-form a{
        padding: 5px;
        float:center;
    }

    .auth {
        padding: 5px;
    }

    .menu-navigation{
        display: none;
    }

    .auth a{
        text-decoration: underline;
    }

    .left-bar{
        display: none;
    }

    .right-bar{
        flex-direction: column;
        flex-basis: 100px;
        margin-right: 30px;
    }
    
    .genres{
        padding: 0px;
    }
    
    .extra-params{
        height: 45%;
        padding: 0px;
    }

    .afisha {
        margin: 0px 50px 0px 20px;
    }

    .bottom-bar img{
        display: none;
    }
}

@media (max-width: 1000px){
    .logo{
        display: flex;
        justify-content:space-around;
    }

    .logo img{
        height: 80px;
        width: 60px;
    }

    .rewiev-form a{
        padding: 5px;
        float:center;
    }

    .auth {
        padding: 5px;
    }

    .auth a{
        text-decoration: underline;
    }

    .left-bar{
        display: none;
    }

    .right-bar{
        flex-direction: column;
        flex-basis: 100px;
        margin-right: 30px;
    }
    
    .genres{
        padding: 0px;
    }
    
    .extra-params{
        height: 45%;
        padding: 0px;
    }

    .afisha {
        margin: 0px 50px 0px 20px;
    }
}